.row {
    margin-bottom: 1em;
}

.button-container {
    margin-right: 0;
    margin-left: 0;
}

.subsection-title {
    padding-bottom: .5em;
    margin-bottom: 1em;
    width: 36%;
    border-bottom: 2px solid #636c72;
}