.radio-group {
    .form-check-input {
        display: none;
    }
}

.status-container {
    background-color: rgb(150, 225, 255);
    border: 2px solid rgb(100, 200, 255);
    border-radius: 10px;
    padding: 3em;
}